#intro-img {
    width: 90%;
    height: 100%;
}
.intro-item {
    grid-column: 1 / 4;
    grid-row: 1;
}
#desk-img {
    border-radius: 50%;
    border: 20px solid #444444;
    width: 45%;
}
.desk-item {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    column-gap: 5px;
}
#graphic-img {
    border-radius: 50%;
    border: 20px solid #444444;
    width: 45%;
}
.graphic-item {
    display: grid; 
    grid-column: 2;
    grid-row: 2;
    column-gap: 5px;
}
#person-img {
    border-radius: 50%;
    border: 20px solid #444444;
    width: 45%;
}
.person-item {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    column-gap: 5px;
}
#background {
    width: 90%;
    height: 130%;
    background-color: #737373;
    grid-column: 1 / 4;
    grid-row: 1;
}
.background-item {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 10px;
}
main {
    margin-left: auto;
    margin-right: auto;
    width: 110em
}